/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

span {
    color: red;
    display: block;
}

.forms th, .forms td {
    padding: 15px;
}

label {
    display: block;
}

table {
    margin-bottom: 15px;
}

.dash th {
    padding-left:5px;
    padding-right: 15px;
    background-color: darkgray;
}

.dash td {
    padding-left: 5px;
    padding-right: 15px;
}

.dash tr:nth-child(odd) {
    background-color: lightgray;
}

.inline h1 {
    display: inline-block;
    margin-right: 50%;
}

.inline h5 {
    display: inline-block;
}

.inline a {
    display: inline-block;
    margin-left: 15px;
}

.inline p {
    display: inline-block;
    margin-left: 50%;
}

.inline {
    margin-bottom: 25px;
}